/* normalize */
* {margin: 0; padding: 0;}
li {list-style: none;}

/* style config */
@bg-color: #fff147; // F2EDED
@border-color: #3a2e35;
@game-size: 64%;
@joy-size: (100% - @game-size) * 0.5;


/* layout */
body > .game-box {
  position: relative;
  margin: 60px auto;
  margin-top: 50px;
  overflow: hidden;
  section {
    display: block;
    float: left;
    &.wrapper {
      .game-joy {
        position: absolute;
        width: @joy-size;
        height: 100%;
      }
    }
    &.game-window {
      position: relative;
      margin-left: @joy-size;
      width: @game-size;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* common style */
.ab-center(horizontal) {
  left: 50%;
  transform: translateX(-50%);
}
.ab-center(vertical) {
  top: 50%;
  transform: translateY(-50%);
}
.ab-center(both) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style */
body {
  background-color: @bg-color;
  text-align: center;
  .game-box {
    text-align: left;
    max-width: 1100px;
    min-width: 650px;
  }
}
section.wrapper {
  .game-joy {
    box-sizing: border-box;
    border: 6px solid @border-color;
    button.joy-button {
      background-color: #685767;
      color: #fff;
      border: 2px solid #1D1317;
      position: absolute;
      .ab-center(both);
      border-radius: 50%;
      box-shadow: 0 3px 2px #111010;
      transition: background-color .2s;
      &.active {
        background-color: #fcde8e;
        color: #111010;
      }
      &.up {
        padding: 4% 4.51%;
        transform: translate(-50%, -160%);
      }
      &.down {
        padding: 4% 5.48%;
        transform: translate(-50%, 60%);
      }
      &.left {
        padding: 4% 5.48%;
        transform: translate(-160%, -50%);
      }
      &.right {
        padding: 4% 5.28%;
        transform: translate(60%, -50%);
      }
    }
  }
  .ellipse {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 1.3% 0.8%;
    background-color: @bg-color;
    border: 9px solid @border-color;
    z-index: 1;
    &.up {
      top: -9px;
      border-radius: 0 0 50% 50%;
      border-top: none;
    }
    &.down {
      bottom: -9px;
      border-radius: 50% 50% 0 0;
      border-bottom: none;
    }
  }
  &.left{
    .game-joy {
      border-right: none;
      border-radius: 100px 0 0 100px;
      background: rgb(10,180,224);
      background: linear-gradient(0deg, rgb(2, 143, 182) 0%, rgba(1,167,215,1) 10%, rgba(1,215,243,1) 60%, rgb(106, 255, 255) 100%);
    }
    .ellipse {
      left: @joy-size;
      transform: translateX(-35%);
    }
  }
  &.right {
    .game-joy {
      border-radius: 0 100px 100px 0;
      border-left: none;
      background: rgb(197, 60, 36);
      background: linear-gradient(0deg, rgb(214, 58, 31) 0%, rgba(246,89,30,1) 10%, rgba(246,102,46,1) 60%, rgba(254,209,135,1) 100%);
      button.joy-button {
        font-size: 17px;
        box-shadow: 0 4px 3px #111010;
      }
      button.joy-button.up {
        padding: 8% 11%;
        transform: translate(-50%, -130%);
      }
      button.joy-button.down {
        padding: 8% 10.25%;
        transform: translate(-50%, 30%);
      }
    }
    .ellipse {
      right: @joy-size;
      transform: translateX(35%);
    }
  }
}
section.game-window {
    box-sizing: border-box;
    border: 10px solid @border-color;
    border-radius: 20px;
    ul.game-choose {
      position: absolute;
      display: block;
      box-sizing: border-box;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #111010;
      padding: 5% 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        .ab-center(vertical);
        z-index: 0;
        height: 90%;
        width: 100%;
        background-color: #262427;
      }
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
      li.game-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        min-height: 35%;
        background-color: #111010;
        margin-left: 5%;
        transition-property: trasform font;
        transition-duration: .6s;
        font-size: 0px;
        &.active {
          font-size: 14px;
          transform: scale(1.2);
          border: 2px solid #FCF5F3;
          background-color: #111010;
          box-shadow:0 0 5px #F2EBF2;        
        }
        img.cover {
          position: relative;
          z-index: 1;
          box-sizing: border-box;
          display: block;
          width: 100%;
        }
        span {
          position: absolute;
          font-weight: bold;
          height: auto;
          text-align: center;
          &.error {
            font-size: 12px;
            color: #bdb9b8;
            .ab-center(vertical);
          }
          &.game-title {
            color: #FCF5F3;
            width: 100%;
            bottom: 5px;
            .ab-center(horizontal);
            word-break: keep-all;
          }
        }
        
      }
    }
    ul.close {
      display: none;
    }
    canvas {
      display: block;
      width: 100%;
      background-color: @border-color;
    }
}


